*{
font-family: 'Segoe UI','Tahoma','Geneva','Verdana','sans-serif';
}
#hlava{
    text-align: center;
}
h1{
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0;
}
#tagline{
    margin: 0 auto;
    font-size: 1.5rem;
    font-style: oblique;
}
#about-site{
    width: 50%;
    margin: 0 auto;
    justify-content: center;

}
#contact-site{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}
#bigmail{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: block;
    color:black;
    font-size: 1rem;
    font-style: italic;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
    text-shadow: #a4a8b0 1px 0 2px;
}
